.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    min-height: 100vh;
    background-image: url('/space.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #0070f3;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 2rem;
  }
  
  .button:hover {
    background-color: #0051a2;
  }
  
  .info {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .logo {
    animation: rotation 10s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }