.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-height: 100vh;
  background-image: url('/space.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.label > label {
  color: #ffffff;
}

.input {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #000000;
  outline: none;
  width: 100%;
  color: #000000;
}

.input:focus {
  border-color: #0070f3;
}

.button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #0070f3;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #0051bb;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #ffffff;
}

.logo {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
