.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-height: 100vh;
  background-image: url('/space.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  color: #3f51b5;
}

.data {
  background-color: #fff;
  color: #333;
  padding: 1em;
  border-radius: 4px;
  font-size: 1em;
  line-height: 1.6;
  width: 100%;
  max-width: 800px;
  overflow: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #0070f3;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
}

.button:hover {
  background-color: #283593;
}
.logo {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
